
{% extends 'base.html' %}

{% load static %} 

{% block title %}
Go to form

{% endblock %}


{% block content %}

<div class="bg-secondary text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Fill out the form</h1>
        <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'account_form' %}">
                    <button type="submit" class="btn btn-outline-info btn-lg px-4 me-sm-3  ">Go to Form page</button>
                </a>
            </div>
        </div>
    </div>
</div>



{% endblock %}