
{% extends 'base.html' %}

{% load static %} 


{% block title %}
Home Page

{% endblock %}


{% block content %}

<div style="background-image:url(static/atm-card.jpg);" class="bg-secondary text-secondary px-4 py-5 text-center image-div" >
    <div class="py-5">

       

            
        {% if user.is_authenticated %}
            <h1 class="display-5 fw-bold text-white">Fill out the form</h1>
                <div class="col-lg-6 mx-auto">
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a href="{% url 'account_form' %}">
                            <button type="submit"  class="btn btn-outline-info btn-lg px-4 me-sm-3  ">Go to Form page</button>
                        </a>
                    </div>
                </div>
                       
                    

        {% else %}

        <h1 class="display-5 fw-bold text-primary">Go to Login Page</h1>
            <div class="col-lg-6 mx-auto ">
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'login' %}">
                    <button type="submit" id="go_to_login" class="btn btn-outline-info btn-lg px-4 me-sm-3  ">Go to Login</button>
                </a>

                    {% endif %}

            </div>
        </div>
    </div>
</div>





{% endblock %}