
{% extends 'base.html' %}

{% load static %} 

{% block title %}
Update password

{% endblock %}


{% block content %}


<section>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3 bg-secondary padding">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <h2 class="text-uppercase text-center mb-5">Change Username/Email</h2>

              <form method="post">
                {% csrf_token %}

                <div class="form-outline mb-2">
                  <input type="password" id="form3Example1cg" name="password" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">New Password</label>
                </div>

                <div class="form-outline mb-2">
                  <input type="password" id="form3Example3cg" name="repeat_password" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Repeat Password</label>
                </div>

                <div class="d-flex justify-content-center">
                  <button  type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-white" >Update</button>
                </div>


              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block footer%}{% endblock %}